<?xml version='1.0' encoding='utf-8'?>
<widget id="com.JDS.villoapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>villoapp</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <allow-intent href="*" />
   <allow-navigation href="villomediapps.julydesign.com/*" />
    <access origin="http://villomediapps.julydesign.com" />
    <engine name="browser" spec="~5.0.4" />
</widget>
